body {
    min-height: 150vh;
}

.wrapper {
    margin: 15px 100px;
}

.wrapper p {
    font-size: 20px;
    line-height: 150%;
}

.arrow {
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 35px;
    transition: .2s linear;
}

.arrow.active {
    bottom: 180px;
    transform: rotate(180deg);
    z-index: 2;
}

nav {
    position: fixed;
    height: 250px;
    left: 0;
    right: 0;
    bottom: -270px;
    background-color: dimgray;
    transition: .2s linear;
}

nav.active {
    bottom: 0;
}