body {
    min-height: 200vh;
}

.wrapper {
    margin: 15px 100px;
}

.wrapper p {
    font-size: 20px;
    line-height: 200%;
}

.burger {
    position: fixed;
    top: 30px;
    right: 30px;
    color: orangered;
    font-size: 50px;
    z-index: 1;
}

i.top-menu {
    display: none;
}

i.fa-chevron-up {
    color: white;
}

nav {
    position: fixed;
    top: 0;
    height: 20vh;
    left: 0;
    width: 100%;
    background-color: dimgray;
    transition: .2s;
}

nav.top-menu{
    top: -200px;
}