.burger {
    position: fixed;
    width: 80px;
    height: 55px;
    top: 40px;
    right: 60px;
    transition: .2s;
}

.burger.active {
    transform: rotate(-90deg);
}

.burger span {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: crimson;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger.active span:nth-child(1) {
    top: calc(50% - 5px);
    transform: rotate(45deg);
}

.burger span:nth-child(2) {
    top: calc(50% - 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger span:nth-child(3) {
    bottom: 0;
}

.burger.active span:nth-child(3) {
    bottom: calc(50% - 5px);
    transform: rotate(-45deg);
}
